<div class="containerAuth">

  <h1>Password recovery</h1>

  <form class="form" role="form" autocomplete="off" id="formLogin">

    <div class="form-group">
      <label for="email">Enter your email:</label>
      <input id="email" name='email' placeholder="e-mail" class="form-control" type="email" required>
    </div>

    <div class="form-group">
      <label for="newPassword">Enter your new password:</label>
      <input id="newPassword" name='password' placeholder="password" class="form-control" type="password" required>
    </div>

    <div class="form-group">
      <input class="btn btn-success my-3" onclick="restorePassword()" value="Restore">
    </div>
  </form>
  <div class="text-left">
    <button class="btn btn-success my-3" onclick="location.href = '/auth/login'">Sign In</button>
    <button class="btn btn-success my-3" onclick="location.href = '/auth/github'">Sign In with Github</button>
    <button class="btn btn-success my-3" onclick="location.href = '/auth/register'">Sign Up</button>
  </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/restorePassword.js"></script>